* {
    margin: 0;
    padding: 0;
}

header {
    background-color: orangered;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
